@{
    //ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>About the Beer Tracker 5000</h1>

<h3>
    Built by a junior developer that often found himself considering a beer on the beer list and thinking to himself, "I've had 
    this beer before but I had a lot of other beers that night and I can't quite remember the finer details. I wish I had a convenient way
    to document my thoughts on a beer while I'm drinking it."
</h3>

<h3>
    The Beer Tracker 5000...because you may not remember all of the important details of the first (or second or third) beers of the night.
</h3>
