@{
    ViewData["Title"] = "Contact";
}
<h2>Have questions about the Beer Tracker 5000, feel free to contact me:</h2>
<h3>tdalhoff@live.com</h3>
<h3><a href="http://www.travis-dalhoff.com">www.travis-dalhoff.com</a></h3>

