@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>BEER TRACKER 5000</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/Glass-of-Beer-28.png" style="width:200px; height: 250px;" class="img-responsive center-block" />
    </div>

    <div class="text-center col-md-4">
        <h2><a asp-area="" asp-controller="Beers" asp-action="Index">View, Add, Edit, and Delete your beers here!</a></h2>
    </div>

    <div class="col-md-4">
        <img src="~/images/Glass-of-Beer-28.png" style="width:200px; height: 250px;" class="img-responsive center-block" />
    </div>
</div>




